\.DS_Store

queryTranslation\.txt
*.out
*.log
*.log.*
**/*.swp

evaluation/graphql.*
evaluation/queries/**/results/*
evaluation/run/*
evaluation/.ipynb_checkpoints/*
\.idea/
=======
.idea/
.gradle/
bin/
*.iml

_site/
docs/_site/

src/test/resources/TestServices/output/*.ttl
out/
*.class
.vscode/

# temp files
**/ultragraphql*/
*.tgz

**build/classes
**build/generated
**build/lombok
**build/reports
**build/resources
**build/test-results

